.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}
.header-contacts {
  display: flex;
  margin-left: auto;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;

  & > .item:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #757575;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
