h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
}
